{% extends 'base.html' %}

{% block title %}Detalles de Taller{% endblock title %}

{% block content %}
<div class="card">
    <h2>Taller: {{ workshop.title }}
        <a href=""><i class="ri-edit-2-fill"></i></a>
        <a href=""><i class="ri-delete-bin-6-fill"></i></a>
    </h2>
    <p>Descripción: <b>{{ workshop.description }}</b></p>
    <p>Ponente: <b>{{ workshop.title_ponent }} {{ workshop.name_ponent }}</b></p>
    <p>Fecha: <b>{{ workshop.date }}</b></p>
    <p>Horario: <b>{{ workshop.initial_hour }} - {{ workshop.final_hour }}</b></p>
    <p>Capacidad: <b>{{ workshop.seats }}</b></p>
    <p>Espacios Disponibles: <b>{{ workshop.available_seats }}</b></p>
    <a href="" class="card-link">Inscribirme</a>
    <a href="{% url 'workshop:list' %}" class="card-link"><i class="ri-arrow-go-back-fill"></i></a>
</div>
{% endblock content %}
    
    