{% extends 'base.html' %}

{% block title %}Detalles de Taller{% endblock title %}

{% block content %}
<div class="card">
    <h2>Taller: {{ workshop.title }}
        {% if user.is_superuser %}
            <a href="{% url 'workshop:update' workshop.pk %}"><i class="ri-edit-2-fill"></i></a>
            <a href=""><i class="ri-delete-bin-6-fill"></i></a>
        {% endif %}
    </h2>
    <p>Descripción: <b>{{ workshop.description }}</b></p>
    <p>Ponente: <b>{{ workshop.title_ponent }} {{ workshop.name_ponent }}</b></p>
    <p>Fecha: <b>{{ workshop.date }}</b></p>
    <p>Horario: <b>{{ workshop.initial_hour }} - {{ workshop.final_hour }}</b></p>
    <p>Capacidad: <b>{{ workshop.seats }}</b></p>
    <p>Espacios Disponibles: <b>{{ workshop.available_seats }}</b></p>
    {% if not user.is_superuser %}
        {% if user.participant.workshop %}
            <p><b>Ya estás inscrito en este taller</b></p>
        {% else %}
            {% if user.participant.is_valid %}
            <form action="{% url 'workshop:participant_register' workshop.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Inscribirme" class="card-link">
            </form>
            {% else %}
                {% if user.is_authenticated %}
                <p><b>Para inscribirte acude con tu Tutor a Validar tu Folio de Pago</b>
                </p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
</div>
{% if user.is_authenticated and workshop.participants.all and user.is_staff %}
<div class="card">
<h3>Participantes Registrados</h3>
<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Nombre</th>
            <th>Folio</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in workshop.participants.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ participant }}</td>
            <td>{{ participant.folio }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    document.querySelector('main').style.justifyContent = 'normal';
</script>
{% endif %}
<a href="{% url 'workshop:list' %}" class="card-link"><i class="ri-arrow-go-back-fill"></i></a>
{% endblock content %}
    
    