{% extends 'base.html' %}
{% block title %}Registro de Participante{% endblock title %}

{% block content %}
<div class="card">
    <h2>Registro de Participante</h2>
    <form method="post" class="as_p">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="card-link w-100" value="Registrar">
    </form>
</div>    
<a href="{% url 'home:home' %}" class="card-link w-60"><i class="ri-home-3-fill"></i></a>
<script>
    document.querySelector('main').style.justifyContent = 'normal';
</script>
{% endblock content %}
    
    