{% extends 'base.html' %}
{% block title %}Lista de Participante{% endblock title %}

{% block content %}
<div class="card">
    <h2>Buscar Participante</h2>
    <form class="w-60">
        {{ form }}
        <input type="submit" value="Buscar" class="card-link w-100">
    </form>
</div>
<div class="card">
    <h2>Lista de Participante</h2>
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Nombre Completo</th>
                <th>Teléfono</th>
                <th>Carrera</th>
                <th>Cuatrimestre</th>
                <th>Folio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for p in participants %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ p }}</td>
                <td>{{ p.phone }}</td>
                <td>{{ p.career }}</td>
                <td>{{ p.semester }}</td>
                <td>{{ p.folio }}</td>
                <td>
                    {% if p.is_valid %}
                    <a href="{% url 'participant:validate' p.pk %}"><i class="ri-check-double-fill ri-xl"></i></a>
                    {% else %}
                    <a href="{% url 'participant:validate' p.pk %}"><i class="ri-check-line ri-xl"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}"><i class="ri-arrow-left-s-line"></i></a>
        {% endif %}
        <span><b><u>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</u></b></span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><i class="ri-arrow-right-s-line"></i></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </div>
</div>    
<a href="{% url 'participant:list' %}" class="card-link w-60"><i class="ri-refresh-line"></i></a>
<a href="{% url 'home:home' %}" class="card-link w-60"><i class="ri-home-3-fill"></i></a>
<script>
    document.querySelector('main').style.justifyContent = 'normal';
</script>
{% endblock content %}
    
    